# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.TagBaseFileBrowser.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\htf\GoogleDrive\01-Projects\TagBaseFileBrowser\TagBaseFileBrowser\.idea\.idea.TagBaseFileBrowser\.idea/dataSources/
/dataSources.local.xml
