<h1>Hello</h1>

<a href="/tags">Tags</a>
<br />
<img src="file:///C:/test.png">

<form action="/" method="post">
  <p>Add tag</p>
  <input name="name" autocomplete="off">
  <input name="type" autocomplete="off" value="1">
  <button>送出</button>
</form>